<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Questions</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
		.login {
			width: 25%;
		}

		.table {
			width: 75%;
		}
		.menu a, .menu a:focus, .menu a:visited, .menu a:hover {
			color: #fff;
		}
		ul li {
			list-style-type: none;
		}
		table {
			table-layout: fixed;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		td {
			word-wrap: break-word;
		}

		a, a:focus, a:visited, a:hover {
			color: #000;
		}

		.logo {
		display: inline-block;
		width: 52px;
		margin-left: 5px;
		vertical-align: top;
		}

		.logo img {
		width: 100%;
		}

		.menu {
		display: inline-block;
		}

		button {
			cursor: pointer !important;
		}

		.top-nav {
			padding-top: 5px;
		}

	</style>

	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
	<div id="app">
		<div class="top-nav" id="top-nav1">
			<div class="logo">
				<img src="{{ url_for('static', filename='images/logo.png') }}">
			</div>
			<div class="menu">
				<a href="#" data-bind="click: showHome">Home</a>
				<a href="#" data-bind="click: showQuestions">Questions</a>
				<a href="#" data-bind="click: showSearch">Search</a>
				<a href="#" data-bind="click: showStats">Stats</a>
				<a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="stackapp-home" data-bind="hidden: home_hidden">
				<h1>Welcome to Stackapp</h1>
			</div>
			<div class="stackapp-questions" data-bind="hidden: questions_hidden" style="display: none">
				<h3>Questions</h3>
				<select data-bind="foreach: tags2, value: currentTag">
					<option data-bind="value: tag_id, text: tag_title"></option>
				</select>

				<table>
					<tbody data-bind="foreach: currentQuestions">
						<tr>
							<td style="width: 60%;"><a data-bind="attr: {href: link}, html: title"></a></td>
							<td style="width: 25%;"><p data-bind="text: tags"></p></td>
							<td style="width: 15%;"><select data-bind="options: $root.statuses, value: selectedStatus, optionsCaption: 'Choose...', event:{ change: updateQuestionStatus}"></select></td>
						</tr>
					</tbody>
				</table>
				<div class="pager">
					<button class="previous" data-bind="click: previous, visible: hasPrevious">Previous</button>
					<button class="current" data-bind="text: $root.pageNumber"></button>
					<button class="next" data-bind="click: next, visible: hasNext">Next</button>
				</div>
			</div>
			<div class="stackapp-search" data-bind="hidden: search_hidden" style="display: none">
				<h3>Search</h3>
				<input type="text" data-bind="textInput: searchQuery" />
				<button class="btn btn-primary" data-bind="click: search">Search</button>

				<table>
					<tbody data-bind="foreach: searchResults">
						<tr>
							<td style="width: 60%;"><a data-bind="attr: {href: link}, html: title"></a></td>
							<td style="width: 25%;"><p data-bind="text: tags"></p></td>
							<td style="width: 15%;"><select data-bind="options: $root.statuses, value: selectedStatus, optionsCaption: 'Choose...', event:{ change: updateQuestionStatus}"></select></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="stackapp-stats" data-bind="hidden: stats_hidden" style="display: none">
				<h3>Total Questions: <span data-bind="text: total_questions"></span></h3>
				<h3>Can't Do: <span data-bind="text: total_cant_do() + '(' + cant_do_percentage() + '%)'"></span></h3>
				<h3>TODO: <span data-bind="text: total_todo() + '(' + todo_percentage() + '%)'"></span></h3>
				<h3>Total Sites: <span data-bind="text: total_sites"></span></h3>
				<h3>Total Tags: <span data-bind="text: total_tags"></span></h3>
				<h3>Total by site:</h3>
				<p data-bind="html: total_by_site"></p>
				<h3>Total by tag:</h3>
				<p data-bind="html: total_by_tag"></p>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script>
		function toggleMenu() {
		    var x = document.getElementById("top-nav1");
		    if (x.className === "top-nav") {
		        x.className += " responsive";
		    } else {
		        x.className = "top-nav";
		    }
		}

		function sortQuestions(data) {
			data.sort(function(a, b) { 
				return a[2] - b[2]; 
			});

			var obj = {};

			$.each(data, function(i, val) {
				if (!obj.hasOwnProperty(val[1])) {
					obj[val[1]] = {};
				}
				if (val[2] == "") {
					val[2] = "Unsorted"
				}
				if (!obj[val[1]].hasOwnProperty(val[2])) {
					obj[val[1]][val[2]] = [];
					obj[val[1]][val[2]].push(val);
				}
				else {
					obj[val[1]][val[2]].push(val);
				}
			});
			return obj;
		}

		

		function AppViewModel() {
			var self = this;
			self.home_hidden = ko.observable(false);
			self.questions_hidden = ko.observable(true);
			self.stats_hidden = ko.observable(true);
			self.search_hidden = ko.observable(true);
			self.total_questions = ko.observable();
			self.total_by_tag = ko.observable();
			self.total_by_site = ko.observable();
			self.total_sites = ko.observable();
			self.total_tags = ko.observable();
			self.tags = ko.observableArray();
			self.statuses = ko.observableArray(["I can't do this", "TODO", "Done"]);
			self.total_cant_do = ko.observable();
			self.total_todo = ko.observable();
			self.cant_do_percentage = ko.observable();
			self.todo_percentage = ko.observable();
			self.status_by_tag = ko.observable();
			self.pageNumber = ko.observable(0);
			self.currentTag = ko.observable();
			self.currentQuestions = ko.observableArray();
			self.currentQuestionsCount = ko.observable();
			self.tags2 = ko.observableArray();
			self.offset = ko.observable(0);
			self.searchQuery = ko.observable("");
			self.searchResults = ko.observableArray([]);
			
			self.totalPages = ko.computed(function() {
				var div = Math.floor(self.currentQuestionsCount() / 10);
				div += self.currentQuestionsCount() % 10 > 0 ? 1 : 0;
				return div - 1;
			});

			self.hasPrevious = ko.computed(function() {
				return self.pageNumber() !== 0;
			});

			self.hasNext = ko.computed(function() {
				return self.pageNumber() !== self.totalPages();
			});

			self.next = function() {
				if(self.pageNumber() < self.totalPages()) {
					self.pageNumber(self.pageNumber() + 1);
					self.offset(self.pageNumber() * 10);
					self.loadQuestionsByTag(self.currentTag());
				}
			}

			self.previous = function() {
				if(self.pageNumber() != 0) {
					self.pageNumber(self.pageNumber() - 1);
					self.offset(self.pageNumber() * 10);
					self.loadQuestionsByTag(self.currentTag());
				}
			}

			self.currentTag.subscribe(function(tag) {
				self.pageNumber(0);
				self.loadQuestionsByTag(tag);
			}, self);

			self.TagModel2 = function(t) {
				var tm2 = this;
				tm2.tag_title = ko.observable(t.tag_title);
				tm2.tag_id = ko.observable(t.tag_id);
				tm2.site_id = ko.observable(t.site_id);
			}

			self.TagModel = function(t) {
				var tm = this;
				tm.tag_title = ko.observable(t.tag_title);
				tm.tag_id = ko.observable(t.tag_id);
				tm.questions = ko.observableArray();

				tm.QuestionModel = function(q) {
					var qm = this;
					qm.id = ko.observable(q.id);
					qm.link = ko.observable(q.link);
					qm.title = ko.observable(q.title);
					qm.tags = ko.observable(q.tags);
					qm.selectedStatus = ko.observable(q.status);

					qm.updateQuestionStatus = function() {
						$.get("/update-question-status", {newStatus: qm.selectedStatus(), id: qm.id()});
					}
				}

				tm.loadQuestions = function() {
					$.each(t.questions, function(i, val) {
						tm.questions.push(new tm.QuestionModel(val));
					});
				}

				tm.loadQuestions();
			}

			self.QuestionModel = function(q) {
				var qm = this;
				qm.id = ko.observable(q.id);
				qm.link = ko.observable(q.link);
				qm.title = ko.observable(q.title);
				qm.tags = ko.observable(q.tags);
				qm.selectedStatus = ko.observable(q.status);

				qm.updateQuestionStatus = function() {
					$.get("/update-question-status", {newStatus: qm.selectedStatus(), id: qm.id()})
					.then(function(response) {
						console.log(response);
						if (response.status == "OK") {
							console.log("Question status updated successfully");
						}
						else {
							alert("Invalid authorization.");
						}
					})
					.catch(function(err) {
						alert("Error updating question status: " + err.message);
					});
				}
			}

			self.loadTags = function() {
				self.tags2.removeAll();
				$.get("/get/tags")
				.done(function(data) {
					$.each(data, function(i, val) {
						var tag = {
							"tag_id": val[0],
							"tag_title": val[4] + " - " + val[2],
							"site_id": val[3]
						}
						self.tags2.push(new self.TagModel2(tag));
					});
				});
			}

			self.loadQuestionsByTag = function(tag_id) {
				if (self.tags2().length > 0) {
					self.currentQuestions.removeAll();
					var site_id = ko.utils.arrayFirst(self.tags2(), function(t) {
						return t.tag_id() == tag_id;
					}).site_id();
					$.get("/get/questions-by-tag", {tag_id: tag_id, site_id: site_id, offset: self.offset()})
					.done(function(data) {
						self.currentQuestionsCount(data['count']);
						$.each(data['questions'], function(i, val) {
							var question = {
								"id": val[0],
								"link": val[1],
								"title": val[2],
								"date": val[3],
								"status": val[4],
								"tags": val[5]
							}
							self.currentQuestions.push(new self.QuestionModel(question));
						});
					})
				}
			}

			self.getStats = function() {
				var total_sites = 0;
				var total_tags = 0;
				var total_by_tag = "";
				var total_by_site = "";

				$.get("/get/tags")
				.done(function(data) {
					total_tags = data.length;
					$.each(data, function(i, val) {
						var site_id = ko.utils.arrayFirst(self.tags2(), function(t) {
							return t.tag_id() == val[0];
						}).site_id();
						$.get("/get/count-by-tag", {tag_id: val[0], site_id: site_id})
						.done(function(data2) {
							var tag_total = "<b>" + val[2] + ' - ' + val[4] + ' - ' + "</b>" + data2['count'];
							total_by_tag += tag_total + "<br>";
							if (i == total_tags - 1) {
								self.total_by_tag(total_by_tag);
							}
						});
					});
					
					self.total_tags(total_tags);
				});

				$.get("/get/sites")
				.done(function(data) {
					total_sites = data.length;
					$.each(data, function(i, val) {
						$.get("/get/count-by-site", {site_id: val[0]})
						.done(function(data2) {
							var site_total = "<b>" + val[1] + " - " + "</b>" + data2['count'];
							total_by_site += site_total + "<br>";
							if (i == total_sites - 1) {
								self.total_by_site(total_by_site);
							}
						});
					});
					self.total_sites(total_sites);
				});

				$.get("/get/questions-count")
				.done(function(data) {
					self.total_questions(data["questions_count"]);
				});

				$.get("/get/status-count")
				.done(function(data) {
					self.total_cant_do(data['cant_count']);
					self.total_todo(data['todo_count']);
					self.todo_percentage((self.total_todo() * 100 / self.total_questions()).toFixed(0));
					self.cant_do_percentage((self.total_cant_do() * 100 / self.total_questions()).toFixed(0));
				});
			}

			self.search = function() {
				self.searchResults.removeAll();
				$.get("/search", {searchQuery: self.searchQuery()})
				.done(function(data) {
					$.each(data, function(i, val) {
						var question = {
							"id": val[0],
							"link": val[1],
							"title": val[2],
							"date": val[3],
							"status": val[4],
							"tags": val[5]
						}
						self.searchResults.push(new self.QuestionModel(question));
					});
				})
			}

			self.showHome = function() {
				self.home_hidden(false);
				self.questions_hidden(true);
				self.stats_hidden(true);
				self.search_hidden(true);
			}

			self.showQuestions = function() {
				self.home_hidden(true);
				self.questions_hidden(false);
				self.stats_hidden(true);
				self.search_hidden(true);
				self.loadTags();
			}

			self.showStats = function() {
				self.home_hidden(true);
				self.questions_hidden(true);
				self.stats_hidden(false);
				self.search_hidden(true);
				self.loadTags();
				self.getStats();
			}

			self.showSearch = function() {
				self.home_hidden(true);
				self.questions_hidden(true);
				self.stats_hidden(true);
				self.search_hidden(false);
			}

			self.showHome();
		}
		ko.applyBindings(new AppViewModel(), document.getElementById("app"));
	</script>
</body>
</html>