<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Questions</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.min.css') }}">
	<style>
		.login {
			width: 25%;
		}

		.table {
			width: 75%;
		}
		a, a:focus, a:visited, a:hover {
			color: #000;
		}
		ul li {
			list-style-type: none;
		}
		table {
			margin-bottom: 0 !important;
		}
	</style>

	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
	<div id="app">
		<div class="top-nav" id="top-nav1">
		  <a href="/">Home</a>
		  <a href="#" data-bind="click: showQuestions()">Questions</a>
		  <a href="#" data-bind="click: showStats()">Stats</a>
		  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
		    <i class="fa fa-bars"></i>
		  </a>
		</div>
		<div class="container" data-bind="visible: questions_visible()">
			<h3>Questions</h3>
			<div id="questions" data-bind="foreach: tags">
				<h3 data-bind="text: tag_title"></h3>
				<div>
					<ul data-bind="attr: {id: tag_id}, foreach: questions">
						<li>
							<table>
								<tbody>
									<tr>
										<td style="width: 75%"><a data-bind="attr: {href: link}, html: title"></a></td>
										<td style="width: 25%"><select data-bind="options: $root.statuses, value: selectedStatus, optionsCaption: 'Choose...', event:{ change: updateQuestionStatus}"></select></td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container" data-bind="visible: stats_visible()">
			<h3>Total Questions: <span data-bind="text: total_questions"></span></h3>
			<h3>Can't Do: <span data-bind="text: total_cant_do() + '(' + cant_do_percentage() + '%)'"></span></h3>
			<h3>TODO: <span data-bind="text: total_todo() + '(' + todo_percentage() + '%)'"></span></h3>
			<h3>Total Sites: <span data-bind="text: total_sites"></span></h3>
			<h3>Total Tags: <span data-bind="text: total_tags"></span></h3>
			<h3>Total by site:</h3>
			<p data-bind="html: total_by_site"></p>
			<h3>Total by tag:</h3>
			<p data-bind="html: total_by_tag"></p>
			<h3>Status by tag:</h3>
			<p data-bind="html: status_by_tag"></p>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script>
		function toggleMenu() {
		    var x = document.getElementById("top-nav1");
		    if (x.className === "top-nav") {
		        x.className += " responsive";
		    } else {
		        x.className = "top-nav";
		    }
		}

		function sortQuestions(data) {
			data.sort(function(a, b) { 
				return a[2] - b[2]; 
			});

			var obj = {};

			$.each(data, function(i, val) {
				if (!obj.hasOwnProperty(val[1])) {
					obj[val[1]] = {};
				}
				if (val[2] == "") {
					val[2] = "Unsorted"
				}
				if (!obj[val[1]].hasOwnProperty(val[2])) {
					obj[val[1]][val[2]] = [];
					obj[val[1]][val[2]].push(val);
				}
				else {
					obj[val[1]][val[2]].push(val);
				}
			});
			return obj;
		}

		

		function AppViewModel() {
			var self = this;
			self.questions_visible = ko.observable(false);
			self.stats_visible = ko.observable(false);
			self.total_questions = ko.observable();
			self.total_by_tag = ko.observable();
			self.total_by_site = ko.observable();
			self.total_sites = ko.observable();
			self.total_tags = ko.observable();
			self.tags = ko.observableArray();
			self.statuses = ko.observableArray(["I can't do this", "TODO", "Done"]);
			self.total_cant_do = ko.observable();
			self.total_todo = ko.observable();
			self.cant_do_percentage = ko.observable();
			self.todo_percentage = ko.observable();
			self.status_by_tag = ko.observable();

			self.TagModel = function(t) {
				var tm = this;
				tm.tag_title = ko.observable(t.tag_title);
				tm.tag_id = ko.observable(t.tag_id);
				tm.questions = ko.observableArray();

				tm.QuestionModel = function(q) {
					var qm = this;
					qm.id = ko.observable(q.id);
					qm.link = ko.observable(q.link);
					qm.title = ko.observable(q.title);
					qm.selectedStatus = ko.observable(q.status);

					qm.updateQuestionStatus = function() {
						$.get("/update-question-status", {newStatus: qm.selectedStatus(), id: qm.id()});
					}
				}

				tm.loadQuestions = function() {
					$.each(t.questions, function(i, val) {
						tm.questions.push(new tm.QuestionModel(val));
					});
				}

				tm.loadQuestions();
			}

			

			self.load = function() {
				$.get("/get/questions")
				.done(function(data) {
					if (data.length > 0) {
						data = sortQuestions(data);
						var status_by_tag = "";
						var total_cant_do = 0;
						var total_todo = 0;
						var total_questions = 0;
						$.each(Object.keys(data), function(k, val) {
							$.each(Object.keys(data[val]), function(i, val2){
								var tag = {
									"tag_title": val + ' - ' + val2,
									"tag_id": data[val][val2][0][0],
									"questions": []
								};

								
								var count_todo = 0;
								var count_cant_do = 0;
								var count_questions = 0;
								$.each(data[val][val2], function(i, val3) {
									tag.questions.push({"id": val3[0], "link": val3[3], "title": val3[4], "status": val3[6]});
									if (val3[6] == "I can't do this") {
										count_cant_do += 1;
										total_cant_do += 1;
									}
									else if (val3[6] == "TODO") {
										count_todo += 1;
										total_todo += 1;
									}
									count_questions += 1;
									total_questions += 1;
								});
								status_by_tag += "<b>" + val + ' - ' + val2 + ' - </b>' + "CANT_DO: " + count_cant_do + "(" + (count_cant_do * 100 / count_questions).toFixed(0) + "%), TODO: " + count_todo + "(" + (count_todo * 100 / count_questions).toFixed(0) + "%)" + "<br>";

								self.tags.push(new self.TagModel(tag));
							});
						});
						$( "#questions" ).accordion({heightStyle: "content", collapsible: true, active: false, header: 'h3'});
						var total_sites = 0;
						var total_tags = 0;
						var total_by_tag = "";
						var total_by_site = "";
						$.each(Object.keys(data), function(i, val) {
							total_sites += 1;
							var site_questions_count = 0;
							$.each(Object.keys(data[val]), function(i, val2){
								total_tags += 1;
								var tag_total = "<b>" + val + ' - ' + val2 + ' - ' + "</b>" + data[val][val2].length;
								site_questions_count += data[val][val2].length;
								total_by_tag += tag_total + "<br>";
							});
							var site_total = "<b>" + val + " - " + "</b>" + site_questions_count;
							total_by_site += site_total + "<br>";
						});
						self.total_by_tag(total_by_tag);
						self.status_by_tag(status_by_tag);
						self.total_by_site(total_by_site);
						self.total_sites(total_sites);
						self.total_tags(total_tags);
						self.total_cant_do(total_cant_do);
						self.total_todo(total_todo);
						self.todo_percentage((total_todo * 100 / total_questions).toFixed(0));
						self.cant_do_percentage((total_cant_do * 100 / total_questions).toFixed(0));
					}
					self.questions_visible(false);
					self.stats_visible(false);
				});
				$.get("/get/stats")
				.done(function(data) {
					self.total_questions(data["total_questions"]);
				});
			}

			self.showQuestions = function() {
				self.stats_visible(false);
				self.questions_visible(true);
			}

			self.showStats = function() {
				self.questions_visible(false);
				self.stats_visible(true);
			}

			self.load();
		}
		ko.applyBindings(new AppViewModel(), document.getElementById("app"));
	</script>
</body>
</html>